/* App styles */

body {
  background-image: url("images/cloudsbkg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forecast .row > * {
  padding-right: calc(var(--bs-gutter-x) * 0.3);
  padding-left: calc(var(--bs-gutter-x) * 0.3);
}

@media (min-width: 0) and (max-width: 600px) {
  .page-wrapper {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 0 0 8px 8px;
  }
}

@media (min-width: 601px) {
  .page-wrapper {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
  }
}

.search-bar,
.current-search-details,
.forecast {
  padding: 20px;
}

.app-container,
.form-container,
.about-container {
  border: 1px solid #dadde1;
  border-radius: 8px;
}

@media (min-width: 0) and (max-width: 449px) {
  .my-custom-font {
    font-size: large;
  }
}

@media (min-width: 450px) and (max-width: 549px) {
  .my-custom-font {
    font-size: x-large;
  }
}

@media (min-width: 550px) {
  .my-custom-font {
    font-size: xx-large;
  }
}

@media (max-width: 640px) {
  .page-wrapper {
    margin: 0 auto;
  }
}

h2 {
  font-size: medium;
}

h3 {
  font-size: small;
}

p {
  font-size: small;
}

#search-input {
  width: 230px;
  z-index: 3;
  min-height: 30px;
  background: #fff;
  border: 0 solid transparent;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
  border-radius: 24px;
  margin: 0 auto;
}

nav,
footer a {
  font-size: x-small;
}

ol.breadcrumb {
  padding-top: 7px;
}

.row {
  --bs-gutter-x: 1.3rem;
}

header {
  padding: 0 10px;
  margin-bottom: 5px;
}

header button.btn {
  font-size: xx-small;
}

.larger-logo {
  width: 40%;
  padding-right: 15px;
}

.city {
  font-weight: 700;
}

#city {
  text-transform: capitalize;
}

#description {
  font-size: medium;
}

#description::first-letter {
  text-transform: capitalize;
}

.current-temp-main {
  /* padding: 1rem 0 1rem 1.5rem; */
  padding: 0;
}

.current-temp-units {
  position: relative;
  top: 68px;
  /* vertical-align: text-top;
 */
  padding: 2px;
  /* align-self: top; */
}

.currenttemp {
  font-size: 500%;
  font-weight: 600;
  align-self: center;
  /* align-self: top; Test with final image dimensions*/
  padding: 0;
}

#celsius-link.active,
#fahrenheit-link.active {
  color: rgb(81, 81, 81);
  text-decoration: none;
  cursor: default;
  font-weight: 400;
}

#celsius-link:not(.active),
#fahrenheit-link:not(.active) {
  color: #0d6efd;
  font-weight: 500;
}

.current-search-details p {
  margin-bottom: 4px;
}

.highlight {
  font-weight: 600;
}

span.high,
span.low {
  font-size: x-small;
}

span.high {
  font-weight: 600;
}

a {
  text-decoration: none;
}

div.d-flex .submit {
  margin-left: 10px;
}

.small-logo {
  width: 65%;
  padding-left: 4px;
}

.power-logo {
  width: 45px;
  height: 45px;
  padding-left: 4px;
}

p.powered-by {
  padding-left: 8px;
  margin-top: 4px;
}

.breadcrumb-item a {
  color: #0d6efd;
}

.breadcrumb-item.active a {
  color: #0d2d4f;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}

.custom-container {
  height: 25px;
  overflow: hidden;
}

/* Theme styles */
/* Light Theme */
.light-theme {
  .app-container {
    background-color: #ffffff;
    color: #828282;
  }
  .btn-light {
    --bs-btn-border-color: #bebebe;
  }

  .light-theme-button,
  .creative-theme-button,
  .dark-theme-button {
    font-size: x-small;
  }
}

/* Creative Theme */
.creative-theme .app-container {
  background-color: var(--creative-theme-color1);
  color: #ffffff; /* Adjust the text color as needed */
}

/* Dark Theme */
.dark-theme {
  .app-container {
    background-color: #000000;
    color: #979797;
  }
  #search-input {
    background-color: #979797;
    border: 1px solid #4a4a4a;
  }
  .submit {
    background-color: #979797;
    border: 1px solid #4a4a4a;
  }
  #celsius-link.active,
  #fahrenheit-link.active {
    color: rgb(143, 143, 143);
    text-decoration: none;
    cursor: default;
    font-weight: 500;
  }

  #celsius-link:not(.active),
  #fahrenheit-link:not(.active) {
    color: #ffffff;
    font-weight: 600;
  }
}

/* Form & About styles */
form,
.about-container {
  margin: 0 auto;
  padding: 20px;
}

textarea {
  width: 100%;
}

.about-container h2,
.form-container h2 {
  font-size: large;
}

.form-container h2,
.form-container h3 {
  padding: 10px 0 10px 0;
}
